.nav-bg {
  background-color: #2b7a98;
}

#field-search {
  width: 350px;
}

.btn-login {
  width: 100px;
}

.btn-login:hover {
  background-color: #ffffff;
}

.btn-signup {
  background-color: #ffffff;
  color: #2b7a98;
  width: 100px;
}

.btn-signup:hover {
  background-color: #2b7a98;
  color: #ffffff;
}

.home {
  width: 200px;
}

#basic-nav-dropdown {
  color: white;
}
