.box {
  float: left;
  height: 80px;
  width: 100%;
  margin-bottom: 15px;
  clear: both;

  background-color: #2b7a98;
}
/* for EditProfile */
.inputs {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;

  transform: translate(-50%, -50%);
}
/* display bios.. need to be absolute*/
.display {
  position: absolute;

  top: 60%;
  left: 25%;
  width: 400px;

  transform: translate(-50%, -50%);
}

.NameSize {
  font-size: 40px;
}
.bold {
  font-weight: bold;
}
/* for profile, need fix on card size */
.cardPlacement {
  position: absolute;

  top: 50%;
  left: 30%;
  width: 700px;
}

/* .image {
  background-image: url("./profilePics/background.jpg");
  height: 950px;

  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: fixed;
} */
/* Location of setProfile boxes */
.container {
  position: fixed;
  top: 5.5%;
  left: 40%;
}
/* Location ProfilePic  */
.container2 {
  position: absolute;
  top: 50px;
  left: 100px;
}
#clip {
  position: absolute;
  /* transform: translate(-16%, -33%); */
  /* clip: rect(200px, 1300px, 450px, 1050px); */
  /* clip-path: circle(8% at 60% 33%); */
  clip-path: circle(40%);
  /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */

  /* 1920 × 987 */
}

.goBack_placement {
  position: absolute;

  top: 20%;
  left: 70%;
}

.goEdit_placement {
  position: absolute;

  top: 20%;
  left: 70%;
}

.scrolling {
  padding-bottom: auto;
  overflow-y: scroll;
  /* Disables left scrolling */
  max-width: 100%;
  overflow-x: hidden;
}

html,
body {
  scroll-behavior: smooth;
}
